[submodule ".registry"]
	path = .registry
	url = https://github.com/geocompr/universe
	shallow = true
	branch = HEAD
[submodule "spData"]
	path = spData
	url = https://github.com/nowosad/spData
	shallow = true
	registered = false
[submodule "spDataLarge"]
	path = spDataLarge
	url = https://github.com/nowosad/spDataLarge
	shallow = true
	registered = false
[submodule "terra"]
	path = terra
	url = https://github.com/rspatial/terra
	shallow = true
	registered = false
