[submodule ".registry"]
	path = .registry
	url = https://github.com/geocompr/universe
	shallow = true
	branch = HEAD
[submodule "geocompkg"]
	path = geocompkg
	url = https://github.com/geocompr/geocompkg
	shallow = true
	registered = true
