[submodule ".registry"]
	path = .registry
	url = https://github.com/geocompr/geocompr.r-universe.dev
	branch = HEAD
[submodule "geocompkg"]
	path = geocompkg
	url = https://github.com/geocompx/geocompkg
